.list-item {
	padding:30px;
	margin:20px;
	display:inline-block;
	min-width:200px;
	min-height:300px;

	> .items {
		position:relative;

		> .add-item {
			margin:15px auto;
		}
	}

	> .title {
		border:none;
		font-size:25px;
		width:100%;
		text-align:center;
	}

	> .remove-list {
		position:absolute;
		top:10px;
		right:10px;
		opacity:0.05;
	}

	&:hover {
		> .remove-list {
			opacity:0.2;
		}
	}
}

